.chat {
   width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
 /*   background-color:  #a3a3a3;;

 */
 background-color: #38442A;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 41px;
    padding-top: 41px;
}

/*
.chat__content {
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
    margin-right: 145px;
 
}
.chat__content__btn {
    display: flex;
    justify-content: space-between;
  max-width: 925px;
  font-weight: 400;
font-size: 24px;
color: #4f4f4f;
  width: 100%;
  align-items: center ;
  cursor: pointer;
    background-color: #fff;
}

.chat__content__btn__img {
    width: 24px;
    height: 19px;
 
    margin-right: 28px;

    position: absolute;
    right: 0;

}

.chat__content__element {
align-items: center;
  display: flex;
 
 border-radius: 10px;
 column-gap: 14px;
}

.chat__content__element__input__wrapper {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.chat__content__element__input {
width: 925px;
height: 49px;
}
.chat__content__element__input::placeholder {
  padding-left: 143px;

}
.chat__settings {
  width: 40px;
  height: 40px;
}

.chat__content__element__input {
  cursor: pointer;
  border: none ;
outline: none
}*/

.chat__elements {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 24px;
}

.chat__element {
  display: flex;
  width: 70%;
  margin-left: auto;
  justify-content: flex-end;
  border-radius: 10px;
  column-gap: 14px;
  

}

.chat__wrapepr {
  position: relative;
  flex-basis: 925px;
  margin-right: auto;

}

.message__icon {
  position: absolute;
  right: 0;
}

.messagw {
  width: 100%;
  height: 49px;
}

.message__icon {
  position: absolute;
  right: 0;
  top:20px
}

.settings {
  margin-right: 100px;
}