  body {
      background: linear-gradient(180deg, #D4E690 0%, #3F5245 100%);
min-height: 100vh;
  }
  .page__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  .content__of__page {
    flex-grow: 1;
    width: 100%;

  }

  .testt {
   /* min-height: 100vh; */

  }